.block {
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 20px 0;
    width: 100%;
}

#blockchain {
    width: 530px;
    margin: 20px auto;
}

.arrow-wrapper {
    text-align: center;
}

.glyphicon {
    font-size: 75px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.hash-code {
    font-style: italic;
    color: #80AAD4;
}

.cheers-title {
    border: 1px solid;
    border-radius: 15px;
    width: 90px;
    background-color:#2C497A;
    color: white;
    font-style: italic;
    font-size: 18px;
    padding: 12px;
    display:inline;
    padding-right:20px;
    text-align: center;
}

.title-parts {
    margin-bottom: 30px;
}

.blue{
    background:#2C497A;
    position:relative;
    margin-top:-17px;
    height:5px;
    z-index:-1;
    margin-left: 105px;
    border-radius: 5px;
}

.inside-info {
    margin-left: 30px;
    margin-right: 30px;
}

.data-text {
    font-style: italic;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px
}